@import '../../sw.scss';

$border1 : 1px solid #ccc;
$mat-yellow : #FFEB3B;
$mat-pink:#E91E63;
$mat-green:#aeea00;
$transition1 : 1.3s;
$vertallign1: 20px;
$padding1:50px;
$paddingMob:20px;

md-grid-tile {
	background: white;
}
.brdr{
	border:1px solid red !important;
}
.pdng1{
	padding:$padding1 !important;
}

#animation_block {
	top:0px;
	#inside_logo {
		transition: 7s;
		font-size: 70px;
		margin-right: 7%;
		color: white;
	}
		position: relative;
		left: -5px;
		width: 110%;
		padding: 70px;
		background: linear-gradient(to bottom, rgb(1%, 100%, 50%), rgb(1%, 5%, 50%));
		box-shadow: 0 3px 5px solid #656565;
	}

.stack.img1{
	background-image:url('../../assets/img/html.png');
 }

.stack.img2{
	background-image:url('../../assets/img/html.png');
 }
.stack{
	margin-top:0px;
	margin-bottom:60px;
	background-position: center top;
	height:400px !important;
	border:0px solid red;
	background-attachment: fixed;

	display:flex;
	justify-content: center;
	align-items: center;

	b{
		color:#656565 !important;
	}
	i{
		font-size:70px !important;
		margin-right:20px;
		color:yellowgreen;
	}

}
.techstack{
	margin-top:80px !important;
}
.header_chips{
	padding: 15px;
		button{
			color:white !important;
		}
}

.social_icons_row{
	button{
		margin-left:40px;margin-right:40px
	}
}

.brdr {border:1px solid red;}


#main_button{
	padding:5px;
	min-width:250px !important;
	font-size:17px;
	background: $colorsw!important;
	color:white ;
}

#main_button_row{
	position:absolute;
	width:100%;
	top:245px;
	z-index:999;
	text-align: center;
}

.extra-buttons-group{
	@extend .abs-hor-align;
	position:fixed;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	width:200px;
	bottom:60px;
	z-index:10;
}
#main_header{
	height:370px;
	 background-color:$mat-green;
}

.row-block{
	margin-bottom:110px;
	margin-top:30px;
}

@media screen and(max-width:900px){
	.pdng1{
		padding:$paddingMob !important;
	}

	.display-2{
		font-size:50px;
	}

	.row{
		margin-bottom:0px;
	}

	.title-margin-mobile{
		margin-top:35px;
	}

	.title-margin-mobile-bottom{
		margin-bottom:35px !important;
	}

}

