::ng-deep .dialog-lang {
	button{
		background: yellowgreen;
		color:white;
	}
	h1{
		font-size: 45px !important;
	}
}

@media screen and (max-width: 800px) {
	::ng-deep .dialog-lang .mat-dialog-container{
			max-width:90% !important;
		
			height:350px !important;
			margin:auto;

}

}
