
$colorsw :  yellowgreen;
.abs-hor-align{
		left:0px;right:0px;margin-left:auto;margin-right:auto;
	}

	[swcolor-info]{
		color:yellowgreen !important;
	}

	[swcolor-info2]{
		color:#3f51b5 !important;
	}

	.brdr{
		border:1px solid red;
	}

	[brdr]{
		border:1px solid red;
	}

	[bold]{
		font-weight: bold !important;
	}

	[color1]{
		color:yellowgreen !important;
	}

	.color1{
		color:yellowgreen !important;
	}

	[colorgrey]{
		color:#656565 !important;
	}